@import "tailwindcss";

:root {
  --background: #1a1a1a;
  --foreground: #fbbf24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  background-image: radial-gradient(
    circle at 1px 1px,
    rgba(255, 255, 255, 0.035) 1px,
    transparent 0
  );
  background-size: 3px 3px;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
